ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li {
	background-color:orange;
    color: white;
    text-align: center;
    padding: 10px 5px;	
    margin: 5px;
    text-decoration: none;
}

iframe {
	text-align:center;
}
